DATABASE_NAME=dairy_2024
DATABASE_USER=root
DATABASE_PASSWORD=your-database-password-here
DATABASE_HOST=localhost
DATABASE_PORT=3306
JWT_SECRET=your-jwt-secret-here

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password-here
FRONTEND_URL=http://localhost:3000
